
:root{
    --quiz-color: crimson;
}

.quiz-color{
    color: var(--quiz-color);
}

.quiz-bg-color{
    background-color: var(--quiz-color);
}

.quiz-home-main{
    height: 50vh;
}

.quiz-text{
    text-align: center;
    line-height: 4;
}
.quiz-btn{
    padding: 0.8rem 6rem;
    font-size: 1.5rem;
    /* background-color: crimson; */
}

.main-color{
    /* color:crimson ; */
}