

.option-btn{
    width: 25rem;
    padding: 1.5rem 8rem;
    background-color: #cbd5e1;
    color: black;
}

.option-btn:hover{
    background-color: #94a3b8;
}

.question-wrapper{
    box-shadow: 0 0 10px #cbd5e1;
    width: 60rem;
    margin: auto;
}

.question{
    width: 40rem;
    margin: auto;
}

.next-btn{
    background-color:#f97316;
}

.mcq{
    text-align: center;
}