:root{
    --quiz-color: #f97316;
}

.rule-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-wrapper{
    border: 2px solid var(--quiz-color);
    align-self: center;
    text-align: center;
    width: 80%;
}

.rules-btn{
    background-color: var(--quiz-color);
}