:root{
    --quiz-color: #f97316;
}

.rule-container{
    height: 80vh;
}

.rules-wrapper{
    border: 2px solid var(--quiz-color);
    padding: 2rem 15rem;
    text-align: center;
}

.rules-btn{
    background-color: var(--quiz-color);
}